<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body >
<input type="file" accept="image/*" multiple onchange="loadFiles(event)">
<div id="output"></div>

<script>
  var loadFiles = function(event) {
    var files = event.target.files;
    var output = document.getElementById('output');
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var imageUrl = URL.createObjectURL(file);
      var img = document.createElement('img');
      img.src = imageUrl;
      img.setAttribute('class', 'anhyeu');
      img.alt = 'Preview Image';
      img.width = '100px';
      img.height = '200px';
      output.append(img);
    }
  };
</script>

</body>

</html>